.CalculatorDisplay {
    width: 450px;
    height: 200px;
    background-color: black;
    color: white;
    border: none;
    font-size: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}